html,body
{
    height: 100%;
}

.li-item{
	display:inline-block;
}

.ul-item{
	display:block;
}


.list-title{
	width: 500px;
	font-family: bold Î¢ÈíÑÅºÚ;
	margin-left:10px;
}

.article-container{
	height:75%;
}
.article-paging{
	text-align:center;
}
#ul-list{
	height: 80%;
}

#article-list-section{
	height:80%;
}
.main-container{
	height:80%;
}
.product-name{
	width:400px;
}
.net-value{
	width:50px;
	border-radius: 4px;
	background: antiquewhite;
}
.total-value{
	width:50px;
	border-radius: 4px;
	background: yellowgreen;
}