
.li-item {
	display: inline-block;
}

.ul-item {
	display: block;
	padding-top: 5px;
	padding-left:5px;
}

.list-title {
	width: 500px;
	font-family: bold Î¢ÈíÑÅºÚ;
	margin-left: 10px;
}

.article-container {
	min-height: 700px;
}

.article-paging {
	text-align: center;
	
}

#ul-list {
	height:600px;
	border-left:1px solid lightblue;
	border-right:1px solid lightblue;
	border-bottom:1px solid lightblue;
	
}

#article-list-section {
	min-height: 600px;
}


.product-name {
	width: 400px;
}

.net-value {
	width: 100px;
	border-radius: 4px;
	background: antiquewhite;
}

.total-value {
	width: 100px;
	border-radius: 4px;
	background: yellowgreen;
}

.product-close {
	border-radius: 4px;
	background: grey;
	width: 100px;
	text-align: center;
}

.product-open {
	border-radius: 4px;
	background: aqua;
	width: 100px;
	text-align: center;
}

.product-future {
	border-radius: 4px;
	background: gold;
	width: 100px;
	text-align: center;
}

#product-header{
	background:lightblue;
	height:30px;
	font-size:1.4em;
	font-weight: bold;
	vertical-align:center;
	padding:5px;
}

.buy-btn {
	width: 50px;
	
}

.strategy-type {
	width: 95px;
	vertical-align:center;
}

.product-name {
	width: 290px;
	vertical-align:center;
}

.newest-net-value {
	width: 100px;
	vertical-align:center;
}

.history-net-value {
	width: 100px;
	vertical-align:center;
}

.product-status {
	width: 90px;
	vertical-align:center;
}
.buy-btn{
	margin-left:20px;
}
.article-type{
	width:105px;
}
.article-name{
	width:500px;
}


.btn-warning.disabled{
	border-color:grey !important;
	background-color:grey !important;
}