html,body
{
    height: 100%;
}

.article-list div{
	display:inline-block;
}

.list-title{
	width: 500px;
	font-family: bold Î¢ÈíÑÅºÚ;
	margin-left:10px;
}

.article-container{
	height:75%;
}