<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>双隆投资有限公司</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="./resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="./resources/css/icomoon-social.css">
	<link rel="stylesheet" href="./resources/css/leaflet.css" />
	<link rel="stylesheet" href="./resources/css/main.css">
	<link rel="stylesheet" href="./resources/css/about-us.css">
	<link rel="Shortcut Icon" href="./resources/img/icon.png">
	<script src="./resources/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar-example">

	<div id ="wrapper">
		<div id="header">
		#if($authenticated)
		<a class="logout btn btn-default" href="j_spring_security_logout">退出</a>
	#end
			<!-- Navigation & Logo-->
			<div class="mainmenu-wrapper">

				<div class="container">

					<nav id="mainmenu" class="mainmenu">
						<ul>
							<li class="logo-wrapper"><a href="index.html"><img
								src="./resources/img/logo2.png"
								alt="Multipurpose Twitter Bootstrap Template"></a></li>
								<li ><a href="index"><span class="glyphicon glyphicon-home"></span>首页</a></li>
								<li class="active"><a href="about-us">关于双隆</a></li>
								<li><a href="product-list">基金产品</a></li>
								<li><a href="sl-news?type=1">双隆资讯</a></li>
								<li><a href="contact-us">联系我们</a></li>
								#if($authenticated)
								<li ><a href="documentation">使用文档</a></li>
								#end
								



						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="container">

				<div class="box first">
					<div class="row">

						<div class="col-md-3">
							<div class="bar-container navbar-example" id="memu-bar-container">

								<ul class="nav nav-pills nav-stacked" >
									<li class="active"><a href="#company-general">公司概况</a></li>
									<li><a href="#company-structure">组织架构</a></li>
									<li><a href="#investment-way">投资理念</a></li>
									<li><a href="#company-culture">公司文化</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-9" id="contact-us">


							<div id="company-general" class="about-us-tab">
								<div class="large-text">
									<h2>公司概况</h2>
									<p>双隆投资于2007年2月成立，从成立伊始就瞄准了市场中性套利和数量化策略交易，并充分发挥和利用公司股东在商品期货领域的成功经验和人脉资源，广纳贤才，加大研发投入。 </p>
									<p>经过多年孜孜不倦的探索，双隆投资对于国内金融市场有了更加深入的理解，对金融模型有着丰富的实践经验。在引入西方投资和风险管理理念后，双隆投资依靠现代金融学理论，遵从市场中性原则，辅之以完全自主开发的程序化交易系统，以金融结构化产品和金融衍生产品为主要交易对象，从事以套利交易和统计套利交易为主的市场中性型投资业务，在中国率先倡导了一种全新的投资理念和盈利模式，并已经成为行业的先驱者和领导者。</p>
									<p>双隆投资已经将自己的研发成果应用于投资交易领域，取得了不俗的业绩。从公司成立以来，资产管理规模稳步增长，截止14年7月的管理规模12亿元，主要致力于股指期货、商品期货和股票Alpha的量化策略交易。双隆投资的投资交易具有可观稳定投资回报、极低下侧风险和绝对市场中性的特点。</p>
								    <p>随着中国金融市场的发展，结构化金融产品和金融衍生品将越来越丰富，双隆投资的竞争优势将更加明显，双隆正阔步向着更加宏伟的目标迈进。</p>
								</div>
							</div>


							<div id="company-structure" class="about-us-tab hidden" >
								<h2>组织架构</h2>
								<img src="/resources/kcfinder/upload/images/structure/structure.png"/>
							</div>

							<div id="investment-way" class="about-us-tab hidden">
								<div class="large-text">
									<h2>投资理念</h2>
									<p>双隆投资的投资理念是基于量化模型的程序化交易，广泛投资于多个金融市场。</p>
									<p>量化投资基于科学的知识和严密的逻辑，同时利用数量化的统计方法对各种与市场运行相关的数据进行分析，构建相应的数据模型，并利用计算机程序实现投资策略的一种投资方式。 近几年，量化投资开始风靡国内，尤其是在股指期货推出以后，量化策略以其高回报率以及稳定性吸引越来越多投资者。如果把传统经验式投资方式比作“中医”，讲求市场经验和主观判断，那么量化投资就可以比作“西医”，更讲究用科学的方法利用各类市场数据进行定时定量分析和处理。 国内量化投资总体上还属于起步阶段，还有很长的路要走。正因为如此，国内的量化投资还是一片“蓝海”，值得期待。</p>
									<p>双隆投资顺应趋势，于量化投资在国内刚起步时就抓住机会，专注于这一新兴投资方式。目前已完全自成体系，拥有一支理工科背景的博士、硕士等高学历人才组成的研发、交易团队以及一支行业经验丰富的交易系统开发和维护团队。 </p>
									<p>我们的收益来自市场中存在的特殊的不完美点，通过大量交易样本产生统计意义上的持续获利，这些不完美点包括但不限于:</p>
									<ul>
									<li>市场定价效率的不完美；</li>
									<li>收益率分布正态性的不完美；</li>
									<li>价格走势随机游走属性的不完美等。</li>
									</ul>
									<p>我们用专业的技术能力发掘出这些市场特征，构成了实现我们的投资目标的基础。双隆投资将在所有交易中运用合理的交易工具和数量化模型规避系统性风险，专注于以套利交易和统计套利交易为主的市场中性投资，避免直接针对金融资产价格的运行方向下注，谋求投资资本的绝对正收益</p>
								</div>
							</div>

							<div id = "company-culture" class="about-us-tab hidden">
								<div class = "pictures">
									<h2>公司文化</h2>
									<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
										<!-- Indicators -->
										<ol class="carousel-indicators">
											<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
											<li data-target="#carousel-example-generic" data-slide-to="1"></li>
											<li data-target="#carousel-example-generic" data-slide-to="2"></li>
										</ol>

										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item active">
												<img src="/resources/kcfinder/upload/images/companyCulture/culture1.jpg" alt="...">
												<div class="carousel-caption">

												</div>
											</div>
											<div class="item">
												<img src="/resources/kcfinder/upload/images/companyCulture/culture2.jpg" alt="...">
												<div class="carousel-caption">

												</div>
											</div>

											<div class="item">
												<img src="/resources/kcfinder/upload/images/companyCulture/culture3.jpg" alt="...">
												<div class="carousel-caption">

												</div>
											</div>

											<div class="item">
												<img src="/resources/kcfinder/upload/images/companyCulture/culture4.jpg" alt="...">
												<div class="carousel-caption">

												</div>
											</div>

										</div>

										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left"></span>
										</a>
										<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	
	#include("footer.vm")
</div>
	<!-- Javascripts -->

	<script src="./resources/js/jquery-1.9.1.js"></script>
	<script src="./resources/js/bootstrap.min.js"></script>

	<script src="./resources/js/jquery.fitvids.js"></script>
	<script src="./resources/js/jquery.sequence-min.js"></script>
	<script src="./resources/js/jquery.bxslider.js"></script>
	<script src="./resources/js/main-menu.js"></script>
	<script src="./resources/js/template.js"></script>
	<script src="./resources/js/about-us.js"></script> 
	

</body>
</html>