<tr class="new-value">					
	<td class="display-td">
		估值日
	</td>					
	<td class="modify-td">
		<input type="text" class="datepicker" net-mapping="netValue"/>
	</td>
	<td class="modify-td">
		<input type="text" class="datepicker" net-mapping="netIncreaseRate"/>
	</td>
	<td>
		<button data-id="$value.id" class="btn remove-value-btn">删除</button>
	</td>					

</tr>