<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Admin</title>
<link rel="stylesheet" href="./resources/css/bootstrap.min.css">

</head>
<div class="container">

	<div class="row">

		<div>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>产品名称</th>
					<th>产品略称</th>
					<th>产品状态</th>
					<th>CTA和阿尔法策略</th>
					<th>资产范围</th>
					<th>投资经理</th>
					<th>最少认购</th>
					<th>续存期</th>
					<th>资金封闭期</th>
					<th>成立日</th>
					<th>开放日</th>
					<th>监管机构</th>
					<th>托管人</th>
					<th>保管银行</th>
					<th>证券经纪商</th>
					<th>投资顾问</th>
					<th>认购费率</th>
					<th>年固定管理费率</th>
					<th>浮动管理费</th>
					<th>认购账户名</th>
					<th>认购账户开户行</th>
					<th>认购账户账号</th>
					<th>认购流程</th>
					<th>购买的网站地址</th>
				</tr>
				
				
			</table>
		</div>
	</div>
</div>

<script src="./resources/js/jquery-1.9.1.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>

</body>
</html>