<div id="footer">
			<div class="footer">
				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="footer-copyright">&copy; 上海双隆投资有限公司版权所有 沪ICP备14000261号-1
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

