<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>双隆投资有限公司</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="./resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="./resources/css/icomoon-social.css">
	<link rel="Shortcut Icon" href="./resources/img/icon.png">
	<link rel="stylesheet" href="./resources/css/leaflet.css" />

	<link rel="stylesheet" href="./resources/css/main.css">

	<script src="./resources/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

	<div id="wrapper">
		<div id="header">
			#if($authenticated)
			<a class="logout btn btn-default" href="j_spring_security_logout">退出</a>
			#end
			<!-- Navigation & Logo-->
			<div class="mainmenu-wrapper">
				<div class="container">

					<nav id="mainmenu" class="mainmenu">
						<ul>
							<li class="logo-wrapper"><a href="index.html"><img
								src="./resources/img/logo2.png"
								alt="Multipurpose Twitter Bootstrap Template"></a></li>
								<li class="active"><a href="index"><span class="glyphicon glyphicon-home">首页</span></a></li>
								<li><a href="about-us">关于双隆</a></li>
								<li><a href="product-list">基金产品</a></li>
								<li><a href="sl-news?type=1">双隆资讯</a></li>
								<li><a href="contact-us">联系我们</a></li>


						</ul>
					</nav>
				</div>
			</div>

		</div>
		<div id="content">
			<!-- Homepage Slider -->
			<div class="homepage-slider">
				<div id="sequence">
					<ul class="sequence-canvas">
						<!-- Slide 1 -->
						<li class="bg4">
							<!-- Slide Title -->
							<h2 class="title"><strong>双隆投资</strong></h2> <!-- Slide Text -->
							<h2 class="subtitle orange">点亮你的财富生活</h2> <!-- Slide Image --> <img
							class="slide-img" src="/resources/kcfinder/upload/images/homeSliders/slide1.png"
							alt="Slide 1" />
						</li>
						<!-- End Slide 1 -->
						<!-- Slide 2 -->
						<li class="bg3">
							<!-- Slide Title --> <!-- Slide Text -->
			         		<h2 class="subtitle-first">明阴阳之机，跃与风云之堂</h2>
							<h2 class="subtitle">双天地之和，报以方圆之隆</h2>
							<img class="slide-img"
							src="/resources/kcfinder/upload/images/homeSliders/slide2.png" alt="Slide 2" />
						</li>
						<!-- End Slide 2 -->
						<!-- Slide 3 -->
						<li class="bg1">
							<!-- Slide Title -->
									<h2 class="subtitle">专注 卓越 诚信 共赢</h2>
							
							 <!-- Slide Image --> <img class="slide-img"
								src="/resources/kcfinder/upload/images/homeSliders/slide3.png" alt="Slide 3" />
							</li>
							<!-- End Slide 3 -->
					</ul>
					<div class="sequence-pagination-wrapper">
						<ul class="sequence-pagination">
								<li>1</li>
								<li>2</li>
								<li>3</li>
						</ul>
					</div>
				</div>
			</div>
				<!-- End Homepage Slider -->



			<!-- Services -->
			<div class="section">
				<div class="container">
					<div class="row">
				
					#foreach($product in $recommends)
						<div class="col-md-4 col-sm-6">
							<div class="service-wrapper #if($product.status==0)insale-product#elseif($product.status==1)tosale-product#elseif($product.status==2)closed-product#else real-close-product#end">
								
								<h3><a href="get-product?id=$product.productId">$product.productShortName</a></h3>
								#if($product.status==2 || $product.status==3)
								<a target="_blank" href="get-product?id=$product.productId#product-graph" class="btn btn-success">净值</a>
								
								#elseif($product.status == 0)
								<a target="_blank" href="$product.buyUrl" class="btn btn-orange">购买</a>
								#else
								<a target="_blank" href="get-product?id=$product.productId" class="btn btn-success">详情</a>
								#end
								
								
							</div>
						</div>
					#end
					</div>
					
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="footer">
				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="footer-copyright">&copy; 上海双隆投资有限公司版权所有
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- Javascripts -->

<script src="./resources/js/jquery-1.9.1.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script src="./resources/js/jquery.fitvids.js"></script>
<script src="./resources/js/jquery.sequence-min.js"></script>
<script src="./resources/js/jquery.bxslider.js"></script>
<script src="./resources/js/main-menu.js"></script>
<script src="./resources/js/template.js"></script>

</body>
</html>