<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>双隆投资有限公司</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="./resources/css/icomoon-social.css">
	<link rel="stylesheet" href="\resources\js\datatable\css\jquery.dataTables.min.css">
	
	
	<link rel="stylesheet" href="./resources/css/leaflet.css" />
	<link rel="stylesheet" href="./resources/css/jquery-ui.min.css">
	<link rel="stylesheet" href="./resources/css/main.css">
	<link rel="stylesheet" href="./resources/css/product-page.css">
	<link rel="Shortcut Icon" href="./resources/img/icon.png">
	
</head>

<body data-spy="scroll" data-target=".navbar-example">


<div id="wrapper">
		<div id="header">
	#if($authenticated)
		<a class="logout btn btn-default" href="j_spring_security_logout">退出</a>
	#end
	<!-- Navigation & Logo-->
	<div class="mainmenu-wrapper">
		<div class="container">
			<nav id="mainmenu" class="mainmenu">
				<ul>
					<li class="logo-wrapper"><a href="index.html"><img
						src="./resources/img/logo2.png"
						alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li ><a href="index"><span class="glyphicon glyphicon-home"></span>首页</a></li>
						<li ><a href="about-us">关于双隆</a></li>
						<li class="active"><a href="product-list">基金产品</a></li>
						<li><a href="sl-news?type=1">双隆资讯</a></li>
						<li><a href="contact-us">联系我们</a></li>
						
					</ul>
				</nav>
				
			</div>
		</div>
		<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					    #if($mode == "add")
					    <h1>添加新产品</h1>
					    #elseif($mode == "modify")
					    <h1>修改产品信息</h1>
					    #else
						<h1>${product.productName}</h1>
						#end
					</div>
				</div>
			</div>
		</div>
		
		</div>
		<div id="content">
		<div class="container article-container">
			<div class="box first main-container">
				<div class="row main-container">
					

					<div class="col-md-8">
					    #if($authenticated)
							<div class="pull-right">
								#if($mode == "add")
							   <button data-id="${product.productId}"
									class="add-product-confirm-btn btn btn-default">保存</button>
							    #else
								<button data-id="${product.productId}"
									class="modify-product-confirm-btn btn btn-default">保存</button>
								<button data-id="${product.productId}"
									class="delete-product-btn btn">删除产品</button>
								#end
								
							</div>
							#end
						<ul class="nav nav-tabs">
							<li class="active"><a href="#product-introduction" data-toggle="tab">产品概要</a></li>
							#if($authenticated)
							<li><a href="#product-manage" data-toggle="tab">产品管理</a></li>
							#end
							<li><a href="#product-net-value" data-toggle="tab">产品净值</a></li>
							<li><a href="#product-graph" data-toggle="tab">走势图</a></li>
							<!--<li><a href="#buy-information" data-toggle="tab">认购信息</a></li>-->
							<li><a href="#buy-process" data-toggle="tab">认购流程</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="product-introduction">
  
						<div id="product-info-${product.productId}" >
							<div class="title first-title init-open collapsible" ><span class="glyphicon glyphicon-flag">产品要素</span>
							<span class="collapse-toggle"></span></div>
							<div>
							<table class="table table-striped">
								<col width="20%">
								<col width="66%">
								<tr>
									<td>产品名称</td>
									
									#if($authenticated)
									<td class="modify-td">
									<input type="text" mapping="productName" value="$product.productName" />
									<input mapping="productId" data-mode="$mode" class="hidden" value="$product.productId" type="text" /></td>
									#else
									
									<td class="display-td">$product.productName</td>
									#end
								</tr>
								#if($authenticated)
								<tr>
									<td>展示名称(首页和边菜单显示，限制长度使得页面美观)</td>
									
									
									<td class="modify-td">
									<input type="text" mapping="productShortName" value="$product.productShortName" /></td>
									
								</tr>
								#end
							
								<tr>
									<td>产品策略</td>
									
									#if($authenticated)
									<td class="modify-td">
									<select mapping="strategy" value="$product.strategy" >
									<option value="0" #if($product.strategy==0) selected #end>CTA策略</option>
									<option value="1" #if($product.strategy==1) selected #end>Alpha策略</option>
									
									
									</select>
									</td>
									#else
									
									
									<td class="display-td">
									#if($product.strategy==0)
									CTA策略 
									#else 
									Alpha策略
									#end
									</td>
									#end
								</tr>
								#if($product.range != "" && !$authenticated)
								<tr>
									<td>投资范围</td>
									<td class="display-td">$product.range</td>
								</tr>
								#end
								#if($authenticated)
								<tr>
								<td>投资范围</td>
								<td class="modify-td"><input type="text" mapping="range"
										 value="$product.range" /></td>
								</tr>
								#end
								#if($product.manager != "" && !$authenticated)
								<tr>
									<td>投资经理</td>
									
									<td class="display-td">$product.manager</td>
									
								</tr>
								#end
								#if($authenticated)
								<tr>
									<td>投资经理</td>
									
									<td class="modify-td"><input type="text"
										mapping="manager" value="$product.manager" /></td>
									
								</tr>
								#end
								#if($product.minInvest != "" && !$authenticated)
								<tr>
									<td>最低认购金额</td>
									
									<td class="display-td">$product.minInvest</td>
									
								</tr>
								#end
								#if( $authenticated)
								<tr>
									<td>最低认购金额</td>
									
									<td class="modify-td"><input type="text" mapping = "minInvest"
										 value="$product.minInvest" /></td>
									
								
								</tr>
								#end
								#if( !$authenticated && $product.adoptionPeriod != "")
								<tr>
									<td>存续期</td>
									
									<td class="display-td">$product.adoptionPeriod</td>
								
								</tr>
								#end
								#if( $authenticated)
								<tr>
									<td>存续期</td>
										
									<td class="modify-td"><input type="text" mapping="adoptionPeriod"
										
										value="$product.adoptionPeriod" /></td>
									
									
								</tr>
								#end
								#if( $product.closePeriod != "" && !$authenticated)
									<tr>
									<td>资金封闭期</td>
									
									<td class="display-td">$product.closePeriod</td>
								
								</tr>
								#end
								#if($authenticated)
								
								
								<tr>
									<td>资金封闭期</td>
										
									<td class="modify-td"><input type="text" mapping="closePeriod"
										value="$product.closePeriod" /></td>
										
								</tr>
								#end
								<tr>
									<td>成立日</td>
										#if($authenticated)
									<td class="modify-td"><input type="text" mapping="createDate"
										class="datepicker"
										value="2014-01-01" /></td>
										#else
									<td class="display-td">$product.createDate</td>
									#end
								</tr>
								
								#if($product.openDate != "" && !$authenticated)
								<tr>
									<td>开放日</td>
									
									<td class="display-td">$product.openDate</td>
									
								</tr>
								#end
								#if( $authenticated)
									<tr>
									<td>开放日</td>
										
									<td class="modify-td"><input type="text" mapping="openDate"
										value="$product.openDate" /></td>
										
								</tr>
								#end
								
							</table>
							</div>
						</div>
						<!--
						<div  id="trusts-struct-${product.productId}">
							<div class="title other-title init-open collapsible"><span class="glyphicon glyphicon-th">信托结构</span><span class="collapse-toggle"></div>
							<div>
							<table class="table table-striped">
								<col width="20%">
								<col width="66%">
								
								#if($product.watchingOrg != "" && !$authenticated)
								<tr>
									<td>监管机构</td>
									
									<td class="display-td">$product.watchingOrg</td>
					
								</tr>
								#end
								#if($authenticated)
								<tr>
									<td>监管机构</td>
									
									<td class="modify-td"><input type="text" mapping="watchingOrg"
										
										value="$product.watchingOrg" /></td>
										
									
								</tr>
								#end
								#if(!$authenticated && $product.trustee != "")
								<tr>
									<td>受托人</td>
										
									<td class="display-td">$product.trustee</td>
								
								</tr>
								
								#end
								#if($authenticated)
								<tr>
									<td>受托人</td>
									<td class="modify-td"><input type="text" mapping="trustee"
										value="$product.trustee" /></td>
										
								
								</tr>
							
						
								#end
								
								#if(!$authenticated && $product.bank != "")
								<tr>
									<td>保管银行</td>
										
									<td class="display-td">$product.bank</td>
								
								</tr>
								#end
								
								#if($authenticated)
								<tr>
									<td>保管银行</td>
									
									<td class="modify-td"><input type="text" mapping="bank"
										value="$product.bank" /></td>
									
								
								</tr>
								#end
								
								#if( $product.borker != "" && !$authenticated)
								<tr>
									<td>证券经纪商</td>
									
									<td class="display-td">$product.borker</td>
									
								</tr>
								#end
								#if($authenticated)
								<tr>
									<td>证券经纪商</td>
									
									<td class="modify-td"><input type="text" mapping="borker"
										value="$product.borker" /></td>
										
								</tr>
								#end
								
								#if(!$authenticated && $product.counselor != "")
								<tr>
									<td>投资顾问</td>
										
									<td class="display-td">$product.counselor</td>
								
								</tr>
								#end
								
								#if($authenticated)
								<tr>
									<td>投资顾问</td>
										
									<td class="modify-td"><input type="text" mapping="counselor"
										value="$product.counselor" /></td>
									
								</tr>
								#end
								
							</table>
							</div>
						</div>
						-->
  
					</div>
					
					#if($authenticated)
					<div class="tab-pane" id="product-manage">
					<table class="table table-striped">
					            <col width="20%">
								<col width="66%">
								
								<tr>
									<td>产品状态</td>
									
									
									<td class="modify-td">
									<select mapping="status" value="$product.status" >
									<option value="0" #if($product.status==0) selected #end>火热销售</option>
									<option value="1" #if($product.status==1) selected #end>即将发售</option>
									<option value="2" #if($product.status==2) selected #end>封闭运行</option>
									<option value="3" #if($product.status==3) selected #end>结束</option>
									</select>
									</td>
									
								</tr>
								
								<tr>
									<td>显示在主页作为推荐</td>
									
									
									<td class="modify-td">
									<select mapping="markRecommend" value="$product.markRecommend" >
									<option value="0" #if($product.markRecommend==0) selected #end>否</option>
									<option value="1" #if($product.markRecommend==1) selected #end>是</option>
									
									
									</select>
									</td>
									
								</tr>
								<tr>
									<td>购买地址(http开头全地址)</td>
									
									
									<td class="modify-td">
									
									<input type="text" mapping="buyUrl" value="$product.buyUrl" /></td>
									
									
									</select>
									</td>
									
								</tr>
					</table>
						
					</div>
					#end
					<div class="tab-pane" id="product-net-value">
						#if($authenticated)
							<div>
							<div class="pull-right">
								<button data-id="${product.productId}"
									class="add-value-btn btn btn-primary">新增净值</button>
							</div>
							</div>
							#end
						<div class="title first-title"><span class="glyphicon glyphicon-align-justify"/>产品净值表</div>
						<table class="table netvalue table-striped">
							<col width="15%">
							<col width="25%">
							<col width="22%">
							<col width="22%">
						    <thead>
							<tr>
								<th>日期类型</th>
								<th>更新日期</th>
								<th>单位净值（元）</th>
								<th>累计净值（元）</th>
								
								#if($authenticated)
								<th>操作</th> 
							    #end
							</tr>
							</thead> 
							<tbody>
							#foreach($value in $netValues)
							<tr class="net-value-item-${value.productId}" >
							
								<td class="display-td">
								
							
								<input type="text" net-mapping="id" value="${value.id}" class="hidden" ></input>
								<input type="text" net-mapping="evalueType" value="${value.evalueType}" class="hidden" ></input>
								
								<div class="evalute-type">估值日</div>
								</td>
								
								
								#if($authenticated)
								<td class="modify-td"><input type="text" net-mapping="evalueDate" class="datepicker"
									id="evalueDate-${value.id}" value="$value.evalueDate" /><div class="display-td hidden evalue-date">$value.evalueDate</div></td>
									
								#else
								<td class="display-td evalue-date">$value.evalueDate</td>
								#end
								
								#if($authenticated)
								
								<td class="modify-td"><input type="text" net-mapping="netValue"
									id="netValue-${product.productId}" value="$value.netValue" />
									<div class="display-td hidden net-value">$value.netValue</div>
									</td>
									
									
								
								#else
								<td class="display-td net-value">$value.netValue</td>
								#end
								
								
								
								#if($authenticated)
								<td class="modify-td"><input type="text" net-mapping="netIncreaseRate"
									id="netIncreaseRate-${product.productId}"
									value="$value.netIncreaseRate" />
									<div class="display-td hidden hs300">$value.netIncreaseRate</div>
									</td>
									
								
								#else
								<td class="display-td hs300">$value.netIncreaseRate</td>
								#end
									
								#if($authenticated)
								<td>
									
									<button data-id="$value.id" class="btn remove-value-btn">删除</button>
								</td>
								
								#end
							</tr>
							#end
                        </tbody>
						</table>
					</div>
					<!--
					<div class="tab-pane" id="buy-information">
					<div id="fee-detail-${product.productId}">
							<div class="title other-title init-open collapsible"><span class="glyphicon glyphicon-list-alt">费率明细</span><span class="collapse-toggle"></div>
							<div>
							<table class="table table-striped">
							    <col width="20%">
								<col width="66%">
								<tr>
									<td>认购费率</td>
									#if($authenticated)
									<td class="modify-td"><input type="text" mapping="subscriptionFee"
										
										value="$product.subscriptionFee" />%</td>
									#else
									<td class="display-td">$product.subscriptionFee %</td>
									#end
								</tr>
								<tr>
									<td>年固定管理费率</td>
									#if($authenticated)
									<td class="modify-td"><input type="text"
										mapping="annualManageFee"
										value="$product.annualManageFee" />%</td>
									#else
									<td class="display-td">$product.annualManageFee %</td>
									#end
								</tr>
								<tr>
									<td>浮动管理费</td>
									#if($authenticated)
									<td class="modify-td"><input type="text"
										mapping="floatManageFee"
										value="$product.floatManageFee" />%</td>
									#else
									<td class="display-td">$product.floatManageFee %</td>
									#end
								</tr>
							</table>
							</div>
						</div>
						<div id="trusts-info-${product.productId}">
							<div class="title other-title init-open collapsible"><span class="glyphicon glyphicon-asterisk">信托认购</span><span class="collapse-toggle"></div>
							<div>
							<table class="table table-striped">
								<col width="20%">
								<col width="66%">
								<tr>
									<td>认购账户名</td>
									#if($authenticated)
									<td class="modify-td"><input type="text"
										mapping="subscriptionAccount"
										value="$product.subscriptionAccount" /></td>
									#else
									<td class="display-td">$product.subscriptionAccount</td>
								    #end
								</tr>
								<tr>
									<td>认购账户开户行</td>
									#if($authenticated)
									<td class="modify-td"><input type="text"
										mapping="subscriptionBank"
										value="$product.subscriptionBank" /></td>
									#else
									<td class="display-td">$product.subscriptionBank</td>
									#end
								</tr>
								<tr>
									<td>认购账户账号</td>
									#if($authenticated)
									<td class="modify-td"><input type="text"
										mapping="subscriptionId"
										value="$product.subscriptionId" /></td>
									#else
									<td class="display-td">$product.subscriptionId</td>
									#end
								</tr>
							</table>
							</div>
						</div>
					</div>
					-->
					<div class="tab-pane" id="product-graph">
						<div class="value-graph-container" data-id="${product.productId}"
						data-name="${product.productName}"
						></div>
					</div>
					<div class="tab-pane" id="buy-process">
						
						#if($authenticated)
						<textarea cols="80" id="editor1" mapping="subscriptionProcess" name="editor1" rows="50">${product.subscriptionProcess}</textarea>
						#else
						<div>${product.subscriptionProcess}</div>
						#end
						
					</div>
				</div>
			</div>
            <div class="col-md-4 blog-sidebar">
						<h4>火热销售中</h4>
							<ul class="recent-posts">
								#foreach ($prod in $otherProducts)
								<li><a href="get-product?id=$prod.productId">$prod.productShortName</a></li>
								#end
							</ul>
					</div>
			
		</div>
		

	</div>

</div>

</div>
		<div id="footer">
<!-- Footer -->
<div class="footer">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">&copy; 上海双隆投资有限公司版权所有.</div>
			</div>
		</div>
	</div>
</div>
</div>
	</div>
<!-- Javascripts -->

<script src="/resources/js/jquery-1.9.1.js"></script>

<script src="./resources/js/jquery-ui.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/jquery-collapsible.js"></script>
<script src="./resources/js/lib/underscore/underscore-min.js"></script>
<script src="./resources/js/lib/hogan/hogan2.js"></script>
<script src="./resources/js/jquery-block-ui.js"></script>
<script src="./resources/js/jquery.paging.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="\resources\js\datatable\js\jquery.dataTables.min.js"></script>
<script src="./resources/js/controller.js"></script>	
<script src="./resources/js/product-page.js"></script>
#if($authenticated)
<script src="./resources/js/bootbox.js"></script>
<script src="./resources/ckeditor/ckeditor.js"></script>
<script src="./resources/js/product-admin.js"></script>
#end

</body>
</html>