<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>上海双隆投资有限公司</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./resources/css/bootstrap.min.css">
	<link rel="stylesheet" href="./resources/css/icomoon-social.css">
	<link rel="stylesheet" href="./resources/css/leaflet.css" />
	<link rel="stylesheet" href="./resources/css/main.css">
	<link rel="stylesheet" href="./resources/css/sl-news.css">
	<link rel="Shortcut Icon" href="./resources/img/icon.png">
	
</head>

<body data-spy="scroll" data-target=".navbar-example">
	<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
	<div class="container">
		<nav id="mainmenu" class="mainmenu">
			<ul>
				<li class="logo-wrapper"><a href="index.html"><img
					src="./resources/img/logo2.png"
					alt="Multipurpose Twitter Bootstrap Template"></a></li>
				<li ><a href="index"><span class="glyphicon glyphicon-home"></span></a></li>
				<li ><a href="about-us">关于双隆</a></li>
				<li><a href="show">基金产品</a></li>
				<li class="active"><a href="sl-news">双隆咨询</a></li>
				<li><a href="contact-us">联系我们</a></li>
			</ul>
		</nav>
	</div>
</div>
 <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>文章列表</h1>
					</div>
				</div>
			</div>
		</div>
<div class="container article-container">
	<div class="box first">
		<div class="row">
			<div class="col-md-3">
				<div class="bar-container navbar-example" id="memu-bar-container">
					<ul class="nav nav-pills nav-stacked" >
						<li class="active"><a href="#company-general">所有文章</a></li>
						<li><a href="#company-structure">媒体报告</a></li>
						<li><a href="#investment-way">双隆公告</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-9" id="contact-us">
			
			
			
			<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#page1">1</a></li>
  <li><a href="#page2">2</a></li>

  <li><a href="#">&raquo;</a></li>
</ul>
<div id="page1">page 1</div>
<div id="page2">page 2</div>
			#foreach( $article in $articles)
			
				<div id="article-${article.id}" class="article-list bs-callout bs-callout-warning"
					data-id="${article.id}">
					
					#if ( $article.type == 1 )
					<div class="article-type-solon">双隆公告</div>
					#end
						#if ( $article.type == 2 )
					<div class="article-type-media">媒体报告</div>
					#end
					
					
					

					<div class="list-title"><a href="get-article?id=${article.id}">${article.title}</a></div>
					<div class="list-date">${article.createDate}</div>
				</div>
			#end


			</div>

			
		</div>

	</div>

</div>


<!-- Footer -->
<div class="footer">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
			</div>
		</div>
	</div>
</div>

<!-- Javascripts -->

<script>window.jQuery || document.write('<script src="./resources/js/jquery-1.9.1.min.js"><\/script>')</script>
<script src="./resources/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/jquery.fitvids.js"></script>
<script src="./resources/js/jquery.sequence-min.js"></script>
<script src="./resources/js/jquery.bxslider.js"></script>
<script src="./resources/js/main-menu.js"></script>
<script src="./resources/js/template.js"></script>
<script src="./resources/js/slnews.js"></script> 


</body>
</html>