<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

       <link rel="stylesheet" href="./resources/css/bootstrap.min.css">
<link rel="stylesheet" href="./resources/css/icomoon-social.css">
<link rel="stylesheet" href="./resources/css/leaflet.css" />
<link rel="stylesheet" href="./resources/css/main.css">
<link rel="stylesheet" href="./resources/css/about-us.css">
<script src="./resources/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-example">
       

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	
		        <nav id="mainmenu" class="mainmenu">
					<ul>
							<li class="logo-wrapper"><a href="index.html"><img
							src="./resources/img/mPurpose-logo.png"
							alt="Multipurpose Twitter Bootstrap Template"></a></li>
					<li ><a href="index"><span class="glyphicon glyphicon-home"></span></a></li>
					<li ><a href="about-us">关于双隆</a></li>
					<li><a href="show">基金产品</a></li>
					<li class="active"><a href="sl-news">双隆咨询</a></li>
					<li><a href="contact-us">联系我们</a></li>
						
						
					</ul>
				</nav>
			</div>
		</div>
		
		<div class="container">
		
		<div class="box first">
			<div class="row">

<div class="col-md-3">
<div class="bar-container navbar-example" id="memu-bar-container">

		<ul class="nav nav-pills nav-stacked" >
  <li class="active"><a href="#company-general">公司概况</a></li>
  <li><a href="#company-structure">组织架构</a></li>
  <li><a href="#investment-way">投资理念</a></li>
   <li><a href="#company-culture">公司文化</a></li>
</ul>
</div>
		</div>
				<div class="col-md-9" id="contact-us">


					<div id="company-general">
					<div class="large-text">
					<h2>公司概况</h2>
					双隆投资自2007年2月成立伊始，就瞄准了市场中性套利和数量化策略交易，并充分发挥和利用公司股东在商品期货领域的成功经验和人脉资源，广纳贤才，加大研发投入。
经过几年孜孜不倦的探索，双隆投资已经成为一个融合了建立在对本地金融市场理解基础上的模型经验和引入西方投资和风险管理理念及流程的先进机构，双隆投资立足于中国金融市场的实际情况，依靠现代金融学理论，遵从市场中性原则，辅之以完全自主开发的程序化交易系统，以金融结构化产品和金融衍生产品为主要交易对象，从事以套利交易和统计套利交易为主的市场中性型投资业务，在中国率先倡导了一种全新的投资理念和盈利模式，并已经成为行业的先驱者和领导者。
回顾5年多来的发展历程，双隆投资已经将自己的研发成果应用于投资交易领域，取得了不俗的业绩。尤其是股指期货推出以来，管理的资金规模出现较大幅度增长， 目前的管理规模约6个多亿元，年化投资收益率达到40%。双隆投资的投资交易具有可观稳定投资回报、极低下侧风险和绝对市场中性的特点。
随着中国金融市场的发展，结构化金融产品和金融衍生品将越来越丰富，双隆投资的竞争优势将更加明显，双隆正阔步向着更加宏伟的目标迈进。
</div>
					</div>
						

						<div id="company-structure">
						<h2>组织架构</h2>
							<img src="./resources/img/structure.png"/>
						</div>
						
						<div id="investment-way">
						<div class="large-text">
					<h2>投资理念</h2>
							量化投资在国外有几十年的发展历史，已成为全球基金业重要的投资方法之一。量化投资基于科学的知识和严密的逻辑，同时利用数量化的统计方法对各种与市场运行相关的数据进行分析，构建相应的数据模型，并利用计算机程序实现投资策略的一种投资方式。
近几年，量化投资开始风靡国内。尤其是在股指期货推出以后，量化策略以其高回报率以及稳定性吸引越来越多投资者。如果把传统经验式投资方式比作“中医”，讲求市场经验和主观判断，那么量化投资就可以比作“西医”，更讲究用科学的方法利用各类市场数据进行定时定量分析和处理。
国内量化投资总体上还属于起步阶段，还有很长的路要走。正因为如此，国内的量化投资还是一片“蓝海”，值得期待。上海双隆投资顺应趋势，于量化投资在国内刚起步时就抓住机会，专注于这一新兴投资方式。目前已完全自成体系，拥有一支理工科背景的博士、硕士等高学历人才组成的研发、交易团队以及一支行业经验丰富的交易系统开发和维护团队。
上海双隆投资是国内最早一批专注于量化投资的机构，我们始终保持多策略、多市场、多品种的多样化分散投资优势，并根据市场的演化动态调整投资策略。双隆自主研发的交易系统保证我们可以更加高效地发挥策略研发上的优势。
						</div>
						</div>
						
						<div id = "company-culture">
						<div class = "pictures">
						<h2>公司文化</h2>
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="./resources/img/portfolio1.jpg" alt="...">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
       <img src="./resources/img/portfolio2.jpg" alt="...">
      <div class="carousel-caption">
    
      </div>
    </div>
    
     <div class="item">
       <img src="./resources/img/portfolio3.jpg" alt="...">
      <div class="carousel-caption">
    
      </div>
    </div>
    
      <div class="item">
       <img src="./resources/img/portfolio4.jpg" alt="...">
      <div class="carousel-caption">
    
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
						
						</div>
						
						</div>





					</div>
				</div>

			</div>
		</div>
	</div>

    


		

	

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        
        <script>window.jQuery || document.write('<script src="./resources/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="./resources/js/bootstrap.min.js"></script>
        
        <script src="./resources/js/jquery.fitvids.js"></script>
        <script src="./resources/js/jquery.sequence-min.js"></script>
        <script src="./resources/js/jquery.bxslider.js"></script>
        <script src="./resources/js/main-menu.js"></script>
        <script src="./resources/js/template.js"></script>
        <script src="./resources/js/about-us.js"></script> 
	

    </body>
</html>