<tr class="new-value" >					
	<td class="display-td">
	<input type="text" net-mapping="evalueType" value="1" class="hidden" ></input>
		估值日
	</td>				
	<td class="modify-td">
		<input type="text" class="datepicker" net-mapping="evalueDate"/>
	</td>	
	<td class="modify-td">
		<input type="text" value="0" net-mapping="netValue"/>
	</td>
	<td class="modify-td">
		<input type="text" value="0" net-mapping="netIncreaseRate"/>%
	</td>
	<td>
		<button class="btn remove-value-btn">(新增值)删除</button>
	</td>					
</tr>