	{{#articles}}
		<div id="article-{{id}}" class="ul-item"
			data-id="{{id}}">
			<div class="li-item {{typeClass}}">{{typeName}}</div>
			<div class="li-item list-title"><a href="get-article?id={{id}}">{{title}}</a></div>
			<div class="li-item list-date">{{createDate}}</div>
		</div>
		{{/articles}} 