	{{#articles}}
		<div id="article-{{id}}" class="article-list"
			data-id="{{id}}">
			<div class="{{typeClass}}">{{typeName}}</div>
			<div class="list-title"><a href="get-article?id={{id}}">{{title}}</a></div>
			<div class="list-date">{{createDate}}</div>
		</div>
		{{/articles}} 