	{{#products}}
		<div id="article-{{id}}" class="article-list"
			data-id="{{id}}">
			
		     
			<div class="{{strategy}}">{{strategy}}</div>
			<div class="product-name">{{productShortName}}</div>
			<div class="list-date">{{newestNetVal}}</div>
			<div class="list-date">{{totalNetVal}}</div>
			<div class="list-date">{{status}}</div>
			<div class="list-date">{{buyUrl}}</div>
		</div>
		{{/products}} 